@using CCLRAbogados.Data
@using CCLRAbogados.Core.DTO
@using CCLRAbogados.Helpers
@using CCLRAbogados.Helpers.Razor
@{IList<DynamicContent> EnlacesFooter = ViewBag.EnlacesFooter;}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet" type="text/css">

    <!-- ######### CSS STYLES ######### -->
    <link href="~/Content/themes/cclra/css/reset.css" rel="stylesheet" />
    <link href="~/Content/themes/cclra/css/style.css" rel="stylesheet" />
    <link href="~/Content/themes/cclra/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- animations -->
    <link href="~/Content/themes/cclra/js/animations/css/animations.min.css" rel="stylesheet" />
    <!-- responsive devices styles -->
    <link href="~/Content/themes/cclra/css/responsive-leyouts.css" rel="stylesheet" />
    <!-- shortcodes -->
    <link href="~/Content/themes/cclra/css/shortcodes.css" rel="stylesheet" />
    <!-- skin -->
    <link href="~/Content/themes/cclra/css/colors/slate.css" rel="stylesheet" />
    <!-- mega menu -->

    <link href="js/mainmenu/bootstrap.min.css" rel="stylesheet">
    <link href="js/mainmenu/menu.css" rel="stylesheet">

    <!-- MasterSlider -->
    <link rel="stylesheet" href="js/masterslider/style/masterslider.css">
    <link rel="stylesheet" href="js/masterslider/skins/default/style.css">

    <!-- owl carousel -->
    <link href="js/carouselowl/owl.transitions.css" rel="stylesheet">
    <link href="js/carouselowl/owl.carousel.css" rel="stylesheet">

    <!-- cubeportfolio -->
    <link rel="stylesheet" type="text/css" href="js/cubeportfolio/cubeportfolio.min.css">

    <!-- forms -->
    <link rel="stylesheet" href="js/form/sky-forms.css" type="text/css" media="all">

    <!-- tabs -->
    <link rel="stylesheet" type="text/css" href="js/tabs/assets/css/responsive-tabs2.css">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
