@using CCLRAbogados.Data
@using CCLRAbogados.Helpers.Razor
@{
    ViewBag.Title = "Áreas de Práctica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_menubar")

<link href="~/Content/themes/cclra/js/accordion/style.css" rel="stylesheet" />
    
@section Scripts{
    @Scripts.Render("~/Content/themes/cclra/js/universal/jquery.js")
    @Scripts.Render("~/Content/themes/cclra/js/mainmenu/bootstrap.min.js")
    @Scripts.Render("~/Content/themes/cclra/js/accordion/jquery.accordion.js")
    @Scripts.Render("~/Content/themes/cclra/js/accordion/jquery.easing.1.3.js")
    @Scripts.Render("~/Content/themes/cclra/js/cubeportfolio/main2.js")
}

<div class="clearfix"></div>

<div class="page_title2">
    <div class="container">

        <h1>Áreas de Práctica</h1>
        @*<div class="pagenation"><a href="index.html">Inicio</a> <i>/</i> <a href="#">Áreas de Práctica</a></div>*@
        <div class="pagenation">&nbsp;<a href="@Url.Action("Index", "Home", new { page = "", id = "" }, Request.Url.Scheme)">Inicio</a> <i>/</i> <a href="@Url.Action("Index", "AreasDePractica", new { page = "", id = "" }, Request.Url.Scheme)">Áreas de Práctica</a></div>
    </div>
</div><!-- end page title --> 
<div class="clearfix"></div>
<div class="container tbp2">

    <div id="filters-container" class="cbp-l-filters-button">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            Todas
        </div>
        <div data-filter=".business" class="cbp-filter-item">
            Negocio
        </div>
        <div data-filter=".lawyer" class="cbp-filter-item">
            Derecho
        </div>
        <div data-filter=".commercial" class="cbp-filter-item">
            Comercial
        </div>
    </div>

    <div id="grid-container" class="cbp-l-grid-projects">
        <ul>

            <li class="cbp-item lawyer">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://placehold.it/280x210" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="#" class="cbp-l-caption-buttonLeft">Leer más</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title">Derecho Corporativo</div>
                <div class="cbp-l-grid-projects-desc">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
            </li><!-- end item -->

            <li class="cbp-item commercial">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://placehold.it/280x210" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="#" class="cbp-l-caption-buttonLeft">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title">Derecho Civil</div>
                <div class="cbp-l-grid-projects-desc">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
            </li><!-- end item -->

            <li class="cbp-item commercial">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://placehold.it/280x210" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="#" class="cbp-l-caption-buttonLeft">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title">Prevención y Solución de Controversias</div>
                <div class="cbp-l-grid-projects-desc">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
            </li><!-- end item -->

            <li class="cbp-item lawyer commercial">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://placehold.it/280x210" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="#" class="cbp-l-caption-buttonLeft">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title">Derecho Tributario</div>
                <div class="cbp-l-grid-projects-desc">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
            </li><!-- end item -->

            <li class="cbp-item lawyer">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://placehold.it/280x210" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="#" class="cbp-l-caption-buttonLeft">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title">Derecho Regulatorio, Telecomunicaciones, Transporte, Saneamiento e Infraestructura</div>
                <div class="cbp-l-grid-projects-desc">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
            </li><!-- end item -->

            <li class="cbp-item business">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://placehold.it/280x210" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="#" class="cbp-l-caption-buttonLeft">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title">Inversión Privada y Contratación Pública</div>
                <div class="cbp-l-grid-projects-desc">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
            </li><!-- end item -->

            <li class="cbp-item business">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://placehold.it/280x210" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="#" class="cbp-l-caption-buttonLeft">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title">Derecho Inmobiliario</div>
                <div class="cbp-l-grid-projects-desc">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
            </li><!-- end item -->

            <li class="cbp-item business">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://placehold.it/280x210" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="#" class="cbp-l-caption-buttonLeft">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title">Derecho laboral y migraciones</div>
                <div class="cbp-l-grid-projects-desc">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
            </li><!-- end item -->

            <li class="cbp-item business">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://placehold.it/280x210" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="#" class="cbp-l-caption-buttonLeft">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title">Propiedad Intelectual y Derecho de la Competencia</div>
                <div class="cbp-l-grid-projects-desc">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
            </li><!-- end item -->

        </ul>
    </div>

</div>