@{
    ViewBag.Title = "Experiencias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IList<CCLRAbogados.Core.DTO.ExperienciaDTO>

<h2>Experiencias</h2>
@Html.Partial("_showAlertMessages")
<section class="panel panel-default">
    <header class="panel-heading font-bold">@ViewBag.NombreMiembro &nbsp; > &nbsp; @ViewBag.NombreTipoExp </header>
    <div class="row text-sm wrapper">
        <div class="col-sm-8">
            <div class="btn-group">
                @if (ViewBag.EsAdmin)
                {
                    <label><input type="checkbox" id="btn-showInactive" /> Mostrar Inactivos</label>
                }
            </div>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-sm btn-success pull-right" href="@Url.Action("Experiencia", new { id = 0, idTipoExperiencia = ViewBag.IdTipoExperiencia, idMiembro = ViewBag.IdMiembro })"><i class="fa fa-pencil-square-o"></i> Crear nueva Experiencia</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped m-b-none">
            <thead>
                <tr>
                    <th width="10%">ID</th>
                    <th width="30%">Titulo</th>
                    <th width="20%">Texto</th>
                    @if (ViewBag.EsAdmin)
                    {
                        <th width="10%">Opciones</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{int cont = 1;}
                @foreach (var experiencia in Model)
                {
                    var classInactive = (ViewBag.EsAdmin && !experiencia.Active) ? "class='inactive'" : "";
                    <tr @Html.Raw(classInactive)>
                        <td align="center">
                            @if (ViewBag.EsAdmin && !experiencia.Active)
                            { <span class="badge bg-danger" data-toggle="tooltip" data-placement="left" data-original-title="Inactivo">@cont</span>}
                            else
                            {@cont}
                        </td>
                        <td>@experiencia.Titulo</td>
                        <td>@experiencia.Texto</td>
                        @if (ViewBag.EsAdmin)
                        {
                            <td align="center"><a href="@Url.Action("Experiencia", new { id = experiencia.IdExperiencia, idTipoExperiencia = ViewBag.IdTipoExperiencia, idMiembro = ViewBag.IdMiembro })"><i class="fa fa-pencil"></i></a></td>
                        }
                    </tr>
                        cont++;
                }
            </tbody>
        </table>
    </div>
    <div class="footer">
        <a class="btn btn-sm btn-danger pull-right" href="@Url.Action("Miembro", "Admin", new { id = ViewBag.IdMiembro })"><i class="fa fa-chevron-left"></i> Regresar</a>
    </div>
</section>
