@model CCLRAbogados.Core.DTO.MiembroDTO
@{
    if (Model == null || Model.IdMiembro == 0)
    {
        ViewBag.Title = "Miembro";
    }
    else { ViewBag.Title = Model.Nombre; }
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section scripts{
    @Scripts.Render("~/Content/themes/admin/js/ckeditor2/ckeditor.js")
}
@if (Model == null || Model.IdMiembro == 0)
{
    <h2>Nuevo Miembro</h2>
}
else
{<h2>Actualizar Miembro</h2>}

@using (Html.BeginForm("AddMiembro", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="row m-b">
        <div class="col-xs-12 col-md-12">
            @Html.Partial("_showAlertMessages")

            <section class="panel panel-default">
                <header class="panel-heading font-bold">Formulario de Registro</header>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        @Html.TextBoxFor(u => u.Nombre, new { @class = "form-control", @placeholder = "Ingrese su nombre completo", @type = "text" })
                        @Html.ValidationMessageFor(u => u.Nombre)
                    </div>
                    <div class="form-group">
                        <label>Nombre Ruta SEO</label>
                        @Html.TextBoxFor(u => u.Uri, new { @class = "form-control", @placeholder = "Ej. rodion-cavero-blumenfeld", @type = "text", @maxlength = "200"})
                        @Html.ValidationMessageFor(u => u.Uri)
                    </div>
                    <div class="form-group col-md-4" style="padding-left:0px;">
                        <label>Cargo</label>
                        @Html.DropDownListFor(u => u.IdCargo, new SelectList(ViewBag.Cargos, "IdCargo", "Nombre", Model != null ? (Model.IdCargo != null ? Model.IdCargo : 0) : 0), new { @class = "form-control parsley-validated" })
                        @Html.ValidationMessageFor(u => u.IdCargo)
                    </div>
                    <div class="form-group col-md-4">
                        <label>Teléfono</label>
                        @Html.TextBoxFor(u => u.Telefono, new { @class = "form-control", @placeholder = "Ingrese su Teléfono", @type = "text" })
                        @Html.ValidationMessageFor(u => u.Telefono)
                    </div>
                    <div class="form-group col-md-4" style="padding-right:0px;">
                        <label>Celular</label>
                        @Html.TextBoxFor(u => u.Celular, new { @class = "form-control", @placeholder = "Ingrese su Celular", @type = "text" })
                        @Html.ValidationMessageFor(u => u.Celular)
                    </div>
                    <div class="form-group">
                        <label>Correo Electrónico</label>
                        @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @placeholder = "Ingrese su correo", @type = "email" })
                        @Html.ValidationMessageFor(u => u.Email)
                    </div>
                    <div class="form-group">
                        <label>Título</label>
                        @Html.TextBoxFor(u => u.Titulo, new { @class = "form-control", @placeholder = "Ingrese un título para su descripción", @type = "text" })
                        @Html.ValidationMessageFor(u => u.Titulo)
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        @*@Html.TextAreaFor(u => u.Descripcion, new { @class = "form-control", @placeholder = "Ingrese una descripción", @type = "text", @maxlength = "500" })*@
                        @Html.Raw(HttpUtility.HtmlDecode(@Html.TextAreaFor(u => u.Descripcion, new { @class = "ckeditor form-control" }).ToHtmlString()))
                        @Html.ValidationMessageFor(u => u.Descripcion)
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                            <label>Imagen de portada</label>
                            @Html.TextBoxFor(u => u.Imagen, new { @class = "form-control", @placeholder = "Ruta de la imagen", @type = "text", @maxlength = "200" })
                            @Html.ValidationMessageFor(u => u.Imagen)
                    </div>
                    @if (ViewBag.EsAdmin && Model != null && Model.IdMiembro > 0)
                    {
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(u => u.Estado)
                            Activo
                        </label>
                        @Html.ValidationMessageFor(u => u.Estado)
                    </div>}
                    else
                    {
                        @Html.TextBoxFor(u => u.Estado, new { @value = Model != null ? Model.Estado : false, @type = "hidden" })
                    }
                    <div class="line line-dashed line-lg pull-in"></div>
                    @Html.TextBoxFor(u => u.IdMiembro, new { @value = Model != null ? Model.IdMiembro.ToString() : "", @type = "hidden" })
                    @{var btnName = (Model != null && Model.IdMiembro > 0) ? "Guardar Cambios" : "Crear";}
                    <button type="submit" class="btn btn-sm btn-primary">@btnName</button>
                    @if (ViewBag.EsAdmin)
                    {
                        <a class="btn btn-sm btn-danger" href="@Url.Action("Miembros")">Salir</a>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-danger" href="@Url.Action("Index")">Salir</a>
                    }
                </div>
            </section>
        </div>
    </div>
}

@if (Model != null && Model.IdMiembro != 0)
{
    <section class="panel panel-default">
        <header class="panel-heading font-bold">Movimientos</header>
        <section class="panel panel-default">
            @if (ViewBag.EsAdmin)
            {
                <div class="row text-sm wrapper">
                    <div class="col-sm-8">
                        <div class="btn-group">
                            <label><input type="checkbox" id="btn-showInactive" /> Mostrar Inactivos</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-sm btn-success pull-right" href="@Url.Action("Movimiento", new { id = 0, idLibro = Model.IdCuentaBancaria })"><i class="fa fa-plus"></i> Crear nuevo Movimiento</a>
                    </div>
                </div>
            }
            <div class="table-responsive">
                <table class="table table-striped m-b-none">
                    <thead>
                        <tr>
                            <th width="15%">Nombre</th>
                            <th class="text-center" width="10%">Categoria</th>
                            <th class="text-center" width="10%">Entidad</th>

                            <th class="text-center" width="7%">Fecha</th>
                            <th class="text-center" width="8%">N° Doc</th>
                            <th class="text-center" width="15%">Monto</th>
                            <th class="text-center" width="8%">Tipo</th>

                            <th class="text-center">E</th>
                            <th class="text-center" width="10%">Usuario</th>

                            <th class="text-center" width="7%">Opc.</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.listaMovimiento != null)
                        {
                            foreach (var obj in Model.listaMovimientoPL)
                            {
                                var classInactive = (ViewBag.EsAdmin && !obj.Estado) ? "class='inactive'" : "";
                                <tr @Html.Raw(classInactive)>
                                    <td width="15%">@obj.Nombre</td>
                                    <td class="text-center" width="10%" style="color:#428bca;">@obj.NombreCategoria</td>
                                    <td class="text-center" width="10%"><strong>@obj.NombreEntidadR</strong></td>
                                    <td class="text-center" width="7%">@obj.Fecha.ToString("dd/MMM/yy", CultureInfo.CreateSpecificCulture("es-PE"))</td>
                                    @if (obj.NumeroDocumento != null)
                                    {
                                        <td class="text-center" width="8%">@obj.NumeroDocumento</td>
                                    }
                                    else
                                    {
                                        <td class="text-center" width="8%">N/A</td>
                                    }


                                    <td class="text-right" width="15%">@Model.SimboloMoneda @obj.Monto.ToString("N2", CultureInfo.InvariantCulture)</td>
                                    @if (obj.IdTipoMovimiento == 1)
                                    {
                                        <td class="text-center" width="8%" style="color:#8EC100;">Entrada</td>}
                                    else
                                    {
                                        <td class="text-center" width="8%" style="color:red">Salida</td> }
                                    @if (obj.IdEstadoMovimiento == 1)
                                    {
                                        <td class="text-center" style="color:red">P</td>}
                                    else
                                    {
                                        <td class="text-center">R</td> }
                                    <td class="text-center" width="10%">@obj.NombreUsuario</td>
                                    @if (ViewBag.EsAdmin)
                                    {
                                        <td class="text-center" width="7%"><a href="@Url.Action("Movimiento", new { id = obj.IdMovimiento, idLibro = Model.IdCuentaBancaria })"><i class="fa fa-pencil" title="Editar"></i></a></td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">Página @(Model.listaMovimientoPL.PageCount < Model.listaMovimientoPL.PageNumber ? 0 : Model.listaMovimientoPL.PageNumber) de @Model.listaMovimientoPL.PageCount</small>
                    </div>
                    <div class="col-sm-4 text-right text-center-xs">
                        @Html.PagedListPager(Model.listaMovimientoPL, page => Url.Action("Libro", new { id = ViewBag.IdCuentaBancaria, page }), new PagedListRenderOptions { UlElementClasses = new[] { "m-b-none", "m-t-none", "pagination-sm", "pagination" }, ContainerDivClasses = new[] { "" } })
                    </div>
                </div>
            </footer>

        </section>
    </section>
}